.square{
    width:100px;
    height:100px;
}

.v {
   border-left:3px solid #000;
   border-right:3px solid #000;
}

.h {
   border-top:3px solid #000;
   border-bottom:3px solid #000;
}

.tictactoesquare{
    width:100px;
    height:100px;
    background:inherit;
    border-style:none;
}

.test {
    width:300px;
}

.TTTBoard {
    margin-bottom:10px;
    padding-top:10px;
}

.customizedInput {
    height:35px;
}

.columnLabels {
    font-size:20px;
}

.Instruction {
    font-size:10px;    
}

.marker {
    font-size:35pt;
}
