target/
.idea/
*.iml
```

```scala:instruqt-examples/scala/step-2/.scalafmt.conf
version = "3.7.0"
```

```scala:instruqt-examples/scala/step-2/project/Dependencies.scala
import sbt._

object Dependencies {
  lazy val scalaTest = "org.scalatest" %% "scalatest" % "3.2.0"
  lazy val phantom = "com.outworkers" %% "phantom-dsl" % "2.59.0"
  lazy val scalaReflect = "org.scala-lang" % "scala-reflect" % "2.13.6"
}
```

```scala:instruqt-examples/scala/step-2/project/build.properties
sbt.version=1.9.0
```

```scala:instruqt-examples/scala/step-2/project/plugins.sbt
addSbtPlugin("com.eed3si9n" % "sbt-assembly" % "2.1.0")
```

```scala:instruqt-examples/scala/step-2/src/main/scala/com/scylla/mms/cql/Mutants.scala
package com.scylla.mms.cql

import com.outworkers.phantom.dsl._
import com.scylla.mms.model.Mutant

abstract class Mutants extends Table[Mutants, Mutant] {
  override def tableName: String = "mutant_data"

  object firstName extends StringColumn with PartitionKey {
    override def name = "first_name"
  }

  object lastName extends StringColumn with PartitionKey {
    override def name = "last_name"
  }

  object address extends StringColumn

  object pictureLocation extends StringColumn {
    override def name = "picture_location"
  }
}
```

```scala:instruqt-examples/scala/step-2/src/main/scala/com/scylla/mms/cql/MutantsDatabase.scala
package com.scylla.mms.cql

import com.outworkers.phantom.dsl._

class MutantsDatabase(override val connector: CassandraConnection)
    extends Database[MutantsDatabase](connector) {
  object mutants extends Mutants with Connector
}
```

```scala:instruqt-examples/scala/step-2/src/main/scala/com/scylla/mms/model/Mutant.scala
package com.scylla.mms.model

case class Mutant(
    firstName: String,
    lastName: String,
    address: String,
    pictureLocation: String
)
```

```scala:instruqt-examples/scala/s 