key.serializer=org.apache.kafka.common.serialization.ByteArraySerializer
key.deserializer=org.apache.kafka.common.serialization.StringDeserializer
bootstrap.servers=localhost:9092
value.serializer=org.apache.kafka.common.serialization.StringSerializer
value.deserializer=org.apache.kafka.common.serialization.StringDeserializer