{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="static/customize/tictactoe.css">
    <div class="jumbotron">
        <center>
        {% if result != None %}
        <h1 style="color:red"> You {{result}} </h1>
        {% endif %}
        <div class="TTTBoard">
            <table style="position:relative;">
                <form action="/select={{gameId}}" method="post">
                <tr>
                    <td class="square" ><button type="submit" class="tictactoesquare" name="cell" value="TopLeft"><h1> {{TopLeft}} </h1></button> </td>
                    <td class="square v"> <button type="submit" class="tictactoesquare" name="cell" value="TopMiddle"><h1>{{TopMiddle}}</h1></button></td>
                    <td class="square"> <button type="submit" class="tictactoesquare" name="cell" value="TopRight"><h1>{{TopRight}}</h1></button></td>
                </tr>
                <tr>
                    <td class="square h"><button type="submit" class="tictactoesquare" name="cell" value="MiddleLeft"><h1> {{MiddleLeft}}</h1></button></td>
                    <td class="square v h"> <button type="submit" class="tictactoesquare" name="cell" value="MiddleMiddle"><h1> {{MiddleMiddle}}</h1></button></td>
                    <td class="square h"> <button type="submit" class="tictactoesquare" name="cell" value="MiddleRight"><h1>{{MiddleRight}}</h1></button></td>
                </tr>
                <tr>
                    <td class="square"> <button type="submit" class="tictactoesquare" name="cell" value="BottomLeft"><h1>{{BottomLeft}}</h1></button></td>
                    <td class="square v"> <button type="submit" class="tictactoesquare" name="cell" value="BottomMiddle"><h1>{{BottomMiddle}}</h1></button></td>
                    <td class="square"> <button type="submit" class="tictactoesquare" name="cell" value="BottomRight"><h1>{{BottomRight}}</h1></button></td>
                </tr>
                </form>
            </table>
         </div>
         {% block addon %} {% endblock %}
         </center>
    </div>
{% endblock %} 
